body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: black;
}


h1 {
    color: greenyellow;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid greenyellow;
    border-radius: 5px;
    color: greenyellow;
}

label {
    display: block;
    margin-top: 10px;
}

input {
    width: 95%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid greenyellow;
    border-radius: 3px;
}
